/* ==========================================
                FONTS
===========================================*/

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 
font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

/* ==========================================
                COLORS
===========================================*/

/* 
    #9e9e9e
    #000
    #333
    #666
*/

/* ==========================================
                GENERAL
===========================================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
}

/* ==========================================
                HEADER
===========================================*/

header p {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 0.8rem;
    margin-top: 10px;
}

header div {
    margin: 40px 0 60px 0;

}

header div h2 {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2.5rem;
}

.work div {
    text-align: center;
}

.work h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    margin: 80px 0 80px 0;
}

/* ==========================================
            MAIN/Section:Orbis
===========================================*/

.orbis {
    background: url("../img/portfolio2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.orbis p:first-child {
    color: #9e9e9e;
    font-size: 1.5rem;
    padding-left: 30vh;
    padding-top: 15vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.orbis p:first-child::before {
    content: ' \2014';
}

.orbis h2 {
    color: white;
    margin-left: 30vh;
    margin-top: 5vh;
    font-family: 'Didact Gothic', sans-serif; 
    font-size: 7rem;
    font-weight: 300;
}

.orbis p:nth-of-type(2) {
    color: #9e9e9e;
    font-size: 1.5rem;
    padding-left: 30vh;
    padding-top: 5vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.orbis div {
    margin-left: 30vh;
    margin-top: 10vh;
}

.orbis div a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
}

.orbis div a:hover ~ h2 {
    color: white;
}

.orbis div a:hover {
    background: white;
    color: black;
}

.orbis h2:last-child {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 80%;
    margin-bottom: 10%;
    margin-top: 0;
    color: rgb(158, 158, 158, 0.3);
    font-size: 9rem;
    background: none;
}


/* ==========================================
            MAIN/Section:ROLLR
===========================================*/

.rollr {
    background: url("../img/portfolio3.png");
    background-repeat: no-repeat;
    background-position: -50px -60px;
    background-size: cover;
    height: 100vh;
}

.rollr p:first-child {
    color: #333;
    font-size: 1.5rem;
    padding-left: 30vh;
    padding-top: 15vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.rollr p:first-child::before {
    content: ' \2014';
}

.rollr h2 {
    color: #000;
    margin-left: 30vh;
    margin-top: 3vh;
    font-family: 'Didact Gothic', sans-serif; 
    font-size: 6rem;
    font-weight: 200;
}

.rollr p:nth-of-type(2) {
    color: #333;
    font-size: 1.5rem;
    padding-left: 30vh;
    padding-top: 5vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.rollr div {
    margin-left: 30vh;
    margin-top: 15vh;
}

.rollr div a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
}

.rollr div a:hover ~ h2 {
    color: black;
}

.rollr div a:hover {
    background: black;
    color: white;
}

.rollr h2:last-child {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 80%;
    margin-bottom: 10%;
    margin-top: 0;
    color: #666;
    font-size: 9rem;
}

/* ==========================================
            MAIN/Section:GALITOS
===========================================*/

.galitos {
    background: url("../img/portfolio4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.galitos p:first-child {
    color: #9e9e9e;
    font-size: 1.5rem;
    padding-left: 30vh;
    padding-top: 15vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.galitos p:first-child::before {
    content: ' \2014';
}

.galitos h2 {
    color: white;
    margin-left: 30vh;
    margin-top: 3vh;
    font-family: 'Didact Gothic', sans-serif; 
    font-size: 6rem;
    font-weight: 200;
}

.galitos p:nth-of-type(2) {
    color: #9e9e9e;
    font-size: 1.5rem;
    padding-left: 30vh;
    padding-top: 5vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.galitos div {
    margin-left: 30vh;
    margin-top: 15vh;
}

.galitos div a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
}

.galitos div a:hover ~ h2{
    color: white;
}

.galitos div a:hover {
    background: white;
    color: black;
}

.galitos h2:last-child {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 80%;
    margin-bottom: 10%;
    margin-top: 0;
    color: rgb(158, 158, 158, 0.3);
    font-size: 9rem;
}

/* ==========================================
            MAIN/Section:TRETTO
===========================================*/

.tretto {
    background: url("../img/portfolio5.png");
    background-repeat: no-repeat;
    background-position: -85px -60px;
    background-size: cover;
    height: 100vh;
}

.tretto p:first-child {
    color: #333;
    font-size: 1.5rem;
    padding-left: 30vh;
    padding-top: 15vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.tretto p:first-child::before {
    content: ' \2014';
}

.tretto h2 {
    color: #000;
    margin-left: 30vh;
    margin-top: 2vh;
    font-family: 'Didact Gothic', sans-serif; 
    font-size: 6rem;
    font-weight: 200;
}

.tretto p:nth-of-type(2) {
    color: #333;
    font-size: 1.3rem;
    padding-left: 30vh;
    padding-top: 3.5vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.tretto div {
    margin-left: 30vh;
    margin-top: 10vh;
}

.tretto div a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
}

.tretto div a:hover ~ h2 {
    color: #000;
}

.tretto div a:hover {
    background: black;
    color: white;
}

.tretto h2:last-child {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 80%;
    margin-bottom: 20%;
    margin-top: 0;
    color: #666;
    font-size: 9rem;
}

/* ==========================================
            MAIN/Section:whatMore
===========================================*/

.whatMore {
    background: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.whatMore h2 {
    color: white;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 8rem;
    font-weight: 400;
    padding-top: 130px;
    letter-spacing: -15px;
}

.whatMore div {
    width: 500px;
    height: 200px;
    margin-left: 87vh;
    margin-top: 13vh;
}

.whatMore p {
    color: #666666;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
    line-height: 40px;
    letter-spacing: 1.1px;
}

.whatMore div a {
    color: white;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.whatMore div:last-child {
    margin-top: 5vh;
}

.whatMore div:last-child:hover {
    text-decoration: underline;
}

/* ==========================================
            FOOTER
===========================================*/
.social div {
    text-align: center;
    margin-top: 200px;
}

.social div a {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 6rem;
    text-decoration: none;
    color: #000;
}

.social div a:hover {
    text-decoration: underline;
}

.social div a:last-child {
    padding-bottom: 200px;
}

.heart {
	font-size: 50px;
	animation: beat .6s infinite alternate;
	transform-origin: center;
    margin-bottom: 100px;
}

@keyframes beat{
	to { transform: scale(1.2); }
}